<mat-card class="hero-card">
    <mat-card-header>
      <mat-card-title>{{ hero.superhero }}</mat-card-title>
      <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="hero | heroImage " [alt]="hero.superhero">

    <!--<img mat-card-image [src]="'images/heroes/' + hero.id + '.jpg'" [alt]="hero.superhero">-->

    <mat-card-content>
      <p><strong>Publisher:</strong> {{ hero.publisher }}</p>
      <p><strong>First Appearance:</strong> {{ hero.first_appearance }}</p>
      <p><strong>Characters:</strong> {{ hero.characters }}</p>

      <br>
      <mat-chip-listbox>
        <mat-chip *ngFor="let name of hero.characters.split(',') | slice:0:3">
            {{name}}
        </mat-chip>
      </mat-chip-listbox>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
        mat-raised
        [routerLink]="['/heroes/edit', hero.id]">
        <mat-icon>edit</mat-icon>
    Editar
    </button>
    <span class="spacer"></span>

    <button mat-button
    mat-raised
    [routerLink]="['/heroes' , hero.id]">
    <mat-icon>more_horiz</mat-icon>
    Más
</button>
    </mat-card-actions>
  </mat-card>
  